<template>
  <div id="about" class="profile-section about-section">
    <img src="./../assets/desk-bg.jpg" alt="" class="bg-img" />
    <h2
      class="sec-title slide-right animate"
      v-bind:class="{ animateActive: animateAbout }"
    >
      About
    </h2>
    <div
      class="underline slide-right-later animate"
      v-bind:class="{ animateActive: animateAbout }"
    ></div>
    <div class="about-block">
      <div class="note animate" v-bind:class="{ animateActive: animateAbout }">
        <p>
          I have 6 and half years of work experience in web and mobile
          application development. I hold a bachelor’s degree in information
          technology.
        </p>
        <p>
          I started my career as a hybrid mobile application developer and later
          moved onto web development for the front-end capacity working
          extensively on UI technologies anmd serving clients in the travel,
          hospitality and public sector domains.
        </p>
        <p>
          I am passionate about exploring innovative ways to provide efficient
          solutions to clients. I aim to acquire domain knowledge to further
          support my technology stronghold and gain control over end-to-end web
          solutions.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "About",
  props: {
    animateAbout: Boolean,
  },
};
</script>
<style lang="scss">
.sec-title {
  &.animate {
    padding-top: 12rem;
  }
}
.profile-section {
  overflow: hidden;

  .bg-img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 0.85;
  }
}
.underline {
  border-bottom: 2px solid #252a34;
  width: 4rem;
  margin: -10px auto 0;
}

.about-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  .note {
    padding: 5rem 4rem 0;
    text-align: left;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0 auto;
    width: 70%;
    text-align: justify;
    overflow: hidden;
    opacity: 0;
    transition: all;
    transition-delay: 0.3s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    &.animateActive {
      opacity: 1;
    }
    p {
      display: block;
      padding-bottom: 1rem;
    }
  }
}
@media screen and (max-width: 760px) {
  .about-block {
    flex-direction: column;
    margin-top: 2rem;
    .note {
      width: 100%;
      height: auto;
      line-height: 1.375rem;
      font-size: 1rem;
    }
  }
  .profile-section {
    .bg-img {
      transform: scaleX(1.35);
      height: 100%;
    }
  }
  .about-section.profile-section {
    .about-block {
      .note {
        padding: 2rem 0;
      }
    }
    .sec-title {
      padding-top: 8.5rem;
    }
  }
}
</style>
