<template>
  <div id="contact" class="profile-section">
    <h2
      class="sec-title animate slide-down contact"
      v-bind:class="{ animateActive: animateContact }"
    >
      Let's connect
    </h2>
    <p
      class="descr animate slide-down"
      v-bind:class="{ animateActive: animateContact }"
    >
      I would love to hear from you on:
    </p>
    <div
      class="contact-block animate slide-down "
      v-bind:class="{ animateActive: animateContact }"
    >
      <div>
        <md-icon class="icon">email</md-icon>
        <p>
          E:
          <a href="mailto:radhikasachan11@gmail.com"
            >radhikasachan11@gmail.com</a
          >
        </p>
      </div>
      <div>
        <md-icon class="icon">call</md-icon>
        <p>P: <a href="tel:+15149670211">+15149670211</a></p>
      </div>
      <div>
        <span class="linkedin-icon">in</span>
        <p>
          <a
            href="https://www.linkedin.com/in/radhika-sachan-93038810b/"
            target="_blank"
            >Linkedin</a
          >
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Contact",
  props: {
    animateContact: Boolean,
  },
};
</script>
<style lang="scss">
.profile-section:nth-child(even) .sec-title.contact {
  color: #262a34;
  padding-top: 7rem;
  z-index: 1;
}
div#contact:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 50vw 0 0;
  border-color: #fff transparent transparent transparent;
}
.linkedin-icon {
  margin-right: 1rem;
  height: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.25rem;
  border: 1px solid white;
  border-radius: 4px;
  line-height: 1rem;
  color: white;
}
.underline {
  border-bottom: 2px solid #fff;
  width: 4rem;
  margin: -10px auto 0;
}
div#contact:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50vw 200px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
p.descr {
  color: white;
  font-size: 1.25rem;
  text-align: left;
  width: 80%;
  margin: 7rem auto 1rem auto;
  text-align: center;
}
.contact-block {
  width: 80%;
  margin: 2rem auto 0;
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
  > div {
    display: flex;
    justify-content: center;
    > .md-icon.md-theme-default.md-icon-font {
      margin: 0.5rem 1rem;
      color: white;
    }
  }
  p {
    color: white;
  }
}

@media screen and (max-width: 760px) {
  .contact-block {
    font-size: 1.25rem;
    line-height: 2.25rem;
    > div {
      > .md-icon,
      .linkedin-icon {
        display: none;
      }
    }
  }
}
</style>
