<template>
  <div id="home" class="lp">
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <div class="intro">
      <img src="./../assets/profile1.png" alt="profile" class="profile-pic" />
      <div class="intro-text">
        <div class="css-typing">
          <p>Hello, I'm <span>Radhika Sachan</span>,</p>
          <p>a web developer living in Canada.</p>
        </div>
        <md-button class="lp-button" v-on:click="goToAbout">
          Know more <md-icon>arrow_forward</md-icon>
        </md-button>
      </div>
    </div>
  </div>
</template>
<!-- scripts -->
<script>
import particleJSON from "./../assets/json/particleJSON";
import "particles.js";
export default {
  name: "LandingPage",
  data: function() {
    return {
      particleJSON: particleJSON,
    };
  },
  mounted() {
    let self = this;
    window.particlesJS("particles-js", self.particleJSON);
  },
  methods: {
    goToAbout() {
      let i = 0;
      //document.getElementById("app").scrollTo(0,offsetTop);
      var int = setInterval(function() {
        document.getElementById("app").scrollTo(0, i);
        i += 10;
        if (i >= window.innerHeight + 10) clearInterval(int);
      }, 5);
    },
  },
};
</script>
<style lang="scss" scoped>
/* container style */
.lp {
  min-height: 100vh;
  width: 100%;
}
/* content style */
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .profile-pic {
    width: 22rem;
    margin-bottom: 1.75rem;
    opacity: 0;
    animation: loadExtra 2s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 5s;
  }
  .intro-text {
    font-size: 1.75rem;
    color: white;
    span {
      color: #ff385d;
    }
  }
  p + p {
    margin-top: 1rem;
  }
  .lp-button {
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 2px solid #00b9f1;
    color: #fff !important;
    text-transform: none;
    background: #242934;
    opacity: 0;
    animation: loadExtra 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    i {
      transition: transform 0.125s;
      width: 20px;
      min-width: 20px;
      height: 20px;
      color: #fff !important;
      font-size: 28px !important;
    }
    &:hover {
      background: #00a8da;
      i {
        transform: rotate(90deg);
      }
    }
  }
}
/* animation for profile pic and button in desktop */
@keyframes loadExtra {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* animation for typing */
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.125rem solid #ff385d;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* desktop only style */
@media screen and (min-width: 761px) {
  .css-typing {
    width: 35rem;
    text-align: center;
    p {
      border-right: 0.25rem solid #ff385d;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.875rem;
      margin: 0 auto;
      &:nth-child(1) {
        width: 22rem;
        opacity: 0;
        animation: type 2.2s steps(40, end);
        animation-fill-mode: forwards;
      }
      &:nth-child(2) {
        width: 35rem;
        opacity: 0;
        margin-top: 0.5rem;
        animation: type 2.7s steps(40, end);
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
  }
}

/* mobile specific-style */
@media screen and (max-width: 760px) {
  .intro {
    padding: 0 1.5rem;
    width: 100%;
    .profile-pic {
      width: 18rem;
    }
    .intro-text {
      font-size: 1.375rem;
      line-height: 1.5rem;
    }
  }
  .lp-button {
    font-size: 1.25rem;
    width: 11rem;
  }
}
</style>
