<template>
    <div id="work" class="profile-section">
        <h2 class="sec-title animate slide-right work" v-bind:class={animateActive:animateWork}>My Projects</h2>
        <div class="underline animate slide-right-later" v-bind:class={animateActive:animateWork}></div>
        <div class="work-block">
            <div class="slide-up animate" v-bind:class={animateActive:animateWork}>
                <img src="./../assets/isd.jpg" alt="na" />
                    <div class="text">
                        <div class="bold">MI Bridges</div>
                        <span class="highlight">Salesforce Lightning, RWD, Accessibilty</span>
                    </div>
                    <a href="https://newmibridges.michigan.gov/s/isd-landing-page?language=en_US" target="_blank " class="button" id="roambi">Visit Website<md-icon class="icon">arrow_forward</md-icon></a>
            </div>
            <div class="slide-up animate" v-bind:class={animateActive:animateWork}>
                <img src="./../assets/edge.jpg" alt="na" />
                    <div class="text"> 
                        <div class="bold">Tata Edge</div>
                        <span class="highlight">HTML5, CSS3, JQuery Mobile, Cordova</span>
                    </div>
                    <a href="https://apps.apple.com/in/app/tata-edge/id982178831" target="_blank" class="button" id="roambi">View Mobile App<md-icon class="icon">arrow_forward</md-icon></a>
            </div>
            <div class="slide-up animate" v-bind:class={animateActive:animateWork}>
                <img src="./../assets/va.jpg" alt="na" />
                <div class="text">
                        <div class="bold">Virgin Atlantic</div>
                        <span class="highlight">HTML5, CSS3, JavaScript, AEM</span>
                </div>
                <a target="_blank" href="https://virginatlantic.com/us/en" class="button" id="roambi">View Website<md-icon class="icon">arrow_forward</md-icon></a>
            </div>
            <div class="slide-up animate" v-bind:class={animateActive:animateWork}>
                <img src="./../assets/valuate.jpg" alt="na" />
                <div class="text only-text">
                    <div class="bold">Lightning Valuate</div>
                    <span class="highlight">Vue.js, D3.js, Node.js, Puppeteer</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "MyWork",
    props: {
        animateWork: Boolean
    }
}
</script>
<style lang="scss" scoped>
.sec-title.work.animate{
    padding-top:4rem;
}

.underline{
  width:6rem;
  margin:-10px auto 40px auto;
opacity:0;
}

.work-block{
    display:flex;
    margin: 10px 40px;
    flex-wrap: wrap;
    justify-content:center;
    .animate {
        transition-delay: .2s;
        transition-duration: .5s;
        transition-timing-function: ease-in;
        &:nth-child(3),&:nth-child(4){
            transition-delay: .5s;
            transition-duration: .5s;
        }
        img{
            width:auto;
            height:300px;
        }
    }
    .slide-up {
        height:0;
        opacity:0;
        background:#ebebeb;
        &:first-child{
            transform: translateY(200px);
        }
        &:nth-child(2){
            transform: translateY(300px);
        }
        &:nth-child(3){
            transform: translateY(300px);
        }
        &:last-child{
            transform: translateY(400px);
        }
        &.animateActive {
            transform: translateY(0px);
            height: 300px;
            opacity:1;
        }
        .button {
            right: 0;
            bottom: 0;
            left: 0;
            opacity:0;
            position: absolute;
            border: 2px solid #E31B6D;
            width: 170px;
            margin: 0 auto;
            font-size: 13pt;
            padding: 7px 0;
            transition: all 0.3s ease-in-out;
            color:black;
            text-decoration:none;
            .icon{
                padding-left:6px;
                color:#4f4c4c;
            }
            &:hover{
                background: #E31B6D;
                color: white;
                 .icon{
                     color: white;
                 }
            }
            
        }
        .text {
            z-index: 2;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            color: #1B242F;
            position:absolute;
            top:0;
            width:100%;
            .bold{
                font-size: 16pt;
            }
            .highlight{
                padding-top:6px;
                color: #E31B6D;
                display:block;
            }
        }
        &:hover {
            img{
                opacity:0;
            }
            .text{
                opacity: 1;
                top: 24%;
                &.only-text{
                    top:45%;
                }
            }
            .button{
                opacity: 1;
                bottom: 24%;
            }
        }
    }
}
@media screen and (max-width:760px){
    .work-block{
        margin: 10px auto 0 auto ;
        padding-bottom:40px;
        width:80%;
        .animate{
            img{
                height:auto;
                width:100%;
            }
            &.slide-up{
                height:100%;
            }
        }
        .slide-up{
            .button{
                width: 80%;
                bottom: 20%;
                padding: 5px;
                font-size: 12pt;
                .icon{
                    width: 20px;
                    min-width: 20px;
                    font-size: 20px !important;
                    color: #E31B6D;
                }
            } 
            .text{
                .highlight{
                     color: #1B242F;
                }
            }
            &:hover{
                .text{
                    top:20%;
                }
                .button{
                    opacity: 1;
                    bottom: 24%;
                    color: #E31B6D;
                    background:none;
                    border: none;
                    .icon{
                        color:#E31B6D;
                    }
                }
            }
        } 
    }
    
}
</style>