<template>
  <div id="ras" class="profile-section">
    <h2
      class="sec-title slide-left animate ras"
      v-bind:class="{ animateActive: animateRAS }"
    >
      Roles and Skills
    </h2>
    <div
      class="underline slide-left-later animate"
      v-bind:class="{ animateActive: animateRAS }"
    ></div>
    <div class="about-block">
      <ul class="noted" v-bind:class="{ animateActive: animateRAS }">
        <li>
          <span>Developed responsive</span> pages supporting Desktop, Tablet and
          Mobile using HTML5, CSS3 and JS on different UI Frameworks.
        </li>
        <li>
          Analyzed requirements and provided <span>effort estimates</span> for
          user stories.
        </li>
        <li>
          Ensured that ADA (accessibility) standards are met and tested the same
          using AI Inspector, JAWS, Wave. Achieved 0 defect count in UAT
        </li>
        <li>
          <span>Hosted application</span> on Heroku using CI CD setup on GitLab
        </li>
        <li>
          Developed the mobile interface using hybrid technologies and hosted
          apps on appstore and playstore.
        </li>
        <li>
          <span>Integrated third party libraries</span> such as D3j.s, and
          Vizuly to represent the graphs.
        </li>
        <li>Performed unit testing on code and fixed SIT and UAT defects</li>
      </ul>
      <div
        class="showMe skillsChart"
        v-bind:class="{ animateActive: animateRAS }"
      >
        <apexchart
          :width="getWidth"
          height="600"
          type="bar"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
      <!--div class="showMe" v-bind:class={animateActive:animateRAS}>
                  <div class="word-cloud" :class="reload">
                      <vue-word-cloud   
                      :words="[{'text':'html5', 'weight':10,'rotation':'2',color:'#234F1E'}, {'text':'javascript', 'weight':10,'rotation':'1',color:'#234F1E'},{'text':'css3', 'weight':10,'rotation':'1',color:'#234F1E'}, 
                      {'text':'salesforce', 'weight':5,'rotation':'2','color':'#1261A0'},{'text':'rwd', 'weight':8,'rotation':'2','color':'#234F1E'},{'text':'vue.js', 'weight':8,'rotation':'2',color:'#234F1E'},{'text':'jQuery', 'weight':7,'rotation':'2',color:'#1261A0'},
                      {'text':'mongo db', 'weight':6,'rotation':'1',color:'#1261A0'},{'text':'agile', 'weight':6,'rotation':'1',color:'#1261A0'},{'text':'node.js', 'weight':6,'rotation':'1',color:'#1261A0'},{'text':'git', 'weight':5,'rotation':'1',color:'#1261A0'},{'text':'heroku', 'weight':5,'rotation':'2',color:'#ff385d'},
                      {'text':'express', 'weight':4,'rotation':'2',color:'#ff385d'},{'text':'bootstrap', 'weight':4,'rotation':'1',color:'#1261A0'},
                      {'text':'accessibilty', 'weight':5,'rotation':'2',color:'#1261A0'},
                      {'text':'angular', 'weight':3,'rotation':'1',color:'#ff385d'},{'text':'react-native', 'weight':3,'rotation':'1',color:'#ff385d'},{'text':'mongo db', 'weight':3,'rotation':'1',color:'#ff385d'},
                      {'text':'dialogflow', 'weight':4,'rotation':'1',color:'#ff385d'},{'text':'d3js', 'weight':3,'rotation':'1',color:'#ff385d'}, {'text':'phonegap/cordova', 'weight':2,'rotation':'2',color:'#ff385d'}]"    
                      font-family="Roboto" 
                      :animation-easing="ease"
                      :animation-duration=1000
                      :spacing=0.5
                      :rotation-unit="deg"
                      :enter-animation="{opacity: 0,transform: 'scale3d(0.3,0.3,0.3)'}"	/>
                  </div>
              </div-->
    </div>
  </div>
</template>
<script>
export default {
  name: "RoleAndSkills",
  props: {
    animateRAS: Boolean,
  },
  data: function() {
    return {
      options: {
        plotOptions: {
          bar: {
            horizontal: true,
          },
        },
        chart: {
          id: "vuechart-example",
        },
        xaxis: {
          categories: [
            "mongoDB",
            "angular",
            "git",
            "node.js",
            "scss",
            "vue.js",
            "accessibiltiy",
            "salesforce",
            "javascript",
            "css3",
            "html5",
          ],
        },
      },
      series: [
        {
          name: "series-1",
          data: [40, 45, 50, 50, 55, 65, 65, 75, 75, 80, 80, 85, 90],
        },
      ],
    };
  },
  computed: {
    getWidth: function() {
      if (window.innerWidth < 760) return 0.9 * window.innerWidth;
      else return "550";
    },
  },
};
</script>
<style lang="scss">
.sec-title.ras {
  padding-top: 4rem;
}
.profile-section {
  overflow: hidden;
}

.slide-right {
  //transform: translateY(400px);
  opacity: 0.5;
  position: relative;
  transform: translateX(-800px);
  &.animate {
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.underline {
  border-bottom: 2px solid #fff;
  width: 4rem;
  margin: -10px auto 0;
}
.slide-right-later {
  opacity: 0;
  position: relative;
  transform: translateX(-300px);
  &.animate {
    transition-delay: 0.55s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.showMe {
  margin-top: 4rem;
  &.animateActive {
    display: block;
  }
}

.about-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.01rem;
  .word-cloud {
    width: (100vw / 2.5);
    height: (100vh / 1.5);
    margin-left: auto;
  }
  .noted {
    padding: 5rem 4rem 0 0;
    text-align: left;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0 auto;
    width: 70%;
    li {
      display: block;
      padding-bottom: 1rem;
      color: #fff;
      &::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: fff; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1rem; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
      span {
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.4s;
        transition-timing-function: ease-in;
        color: #ff385d;
      }
    }
    &.animateActive {
      span {
        opacity: 1;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .about-block {
    flex-direction: column;
    img {
      //width:100%;
      height: 100%;
    }
    .note {
      width: 100%;
      height: auto;
      padding: 0;
      line-height: 1.375rem;
      font-size: 1rem;
    }
    .noted {
      padding: 2rem 1rem 2rem 0;
      margin: 1rem;
      width: 100%;
    }
    .skillsChart {
      width: 60%;
      left: -2rem;
    }
    .word-cloud {
      width: (100vw - 20);
      height: 300px;
    }
  }
}
</style>
