<template>
    <aside class="sidebar" v-bind:class="{ solid: activeMenu=='!home' }">
        <div class="navbar">
            <a class="logo" rel="index" data-menu="home">R</a>
            <nav class="en">
                <a data-menu="home" class="item" v-on:click="scrollTo" v-bind:class="{ active: activeMenu=='home' }">
                    <md-icon class="icon">home</md-icon>
                    <span class="menu-label">Home</span>
                </a>
                <a data-menu="about" class="item" v-on:click="scrollTo" v-bind:class="{ active: activeMenu=='about' }">
                    <md-icon class="icon">person_outline</md-icon>
                    <span class="menu-label">About</span>
                </a>
                <a data-menu="work" class="item" v-on:click="scrollTo" v-bind:class="{ active: activeMenu=='work' }">
                    <md-icon class="icon work-icon">wb_incandescent</md-icon>
                    <span class="menu-label">Projects</span>
                </a>
                <a data-menu="contact" class="item" v-on:click="scrollTo" v-bind:class="{ active: activeMenu=='contact' }">
                    <md-icon class="icon">mail_outline</md-icon>
                    <span class="menu-label">Contact</span>
                </a>
            </nav>
        </div>
    </aside>
</template>
<script>
export default {
    name: "SideBar",
    props: {
        activeMenu: String
    },
    data: function(){
        return {
            activeMenuTemp:'home'
        }
    },
    methods: {
        scrollTo(){
            this.activeMenu=event.currentTarget.dataset.menu;
            
        }
    }
}
</script>
<style lang="scss" scoped>
.sidebar{
    position: fixed;
    width: 90px;
    height: 100vH;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 2;
    left: 0;
    opacity:0;
    transition: all 0.5s;
    &:hover{
        opacity:1;
    }
    &.solid{
        opacity:1;
        background:#242934;
    }
    a.logo{
        display: block;
        padding: 8px 0;
        display: block;
        padding: 8px 0;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        font-family: 'Bowlby One SC', cursive;
        font-weight:bold;
        background: -webkit-linear-gradient(60deg, #ff1744 52%, #00b9F1 52%);
        background: -o-linear-gradient(60deg, #ff1744 52%, #00b9F1 52%);
        background: linear-gradient(60deg, #ff1744 52%, #00b9F1 52%);
        color: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .work-icon{
            transform: rotate(180deg);
    }
    .navbar{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        height:100%;
    }
    nav{
        a{
            display:block;
            margin-bottom:1.75rem;
            text-decoration: none;
            cursor: pointer;
            .md-icon {
                width: 27px;
                min-width: 27px;
                height: 27px;
                font-size: 27px!important;
            }
            .menu-label{
                color:#c2c2c2;
                display:block;
            }
            &:hover{
                .md-icon.md-theme-default.md-icon-font.icon{
                    color:#ff385d;
                }
                .menu-label{
                    color:#ff385d;
                }
            }
            .md-icon.md-theme-default.md-icon-font.icon{
                color:#c2c2c2;
            }
            &.active{
                .md-icon.md-theme-default.md-icon-font.icon{
                    color:#00b9F1;
                }
                .menu-label{
                    color:#00b9F1;
                }
            }
        }
    }
}
@media screen and (max-width: 760px){
    .sidebar{
            height: 2rem;
            width: 100%;
            opacity: 1;
            .navbar{
                    flex-direction: row;
                    nav{
                        display: flex;
                        width: 60%;
                        margin: 0 0 0 auto;
                        justify-content: space-around;
                        .menu-label{
                            display:none;
                        }
                    }
            }
    }
}
</style>

