<template>
  <div>
    <SideBar :activeMenu="activeMenu" />
    <div id="app" class="mainContainer">
      <div class="parallaxContainer">
        <LandingPage />
      </div>
      <div id="content1" class="contentContainer">
        <About :animateAbout="animateAbout" />
        <RoleAndSkills :animateRAS="animateRAS" />
        <MyWork :animateWork="animateWork" />
        <Contact :animateContact="animateContact" />
      </div>
    </div>
  </div>
</template>

<script>
import LandingPage from "./components/LandingPage.vue";
import SideBar from "./components/SideBar.vue";
import About from "./components/About.vue";
import MyWork from "./components/MyWork";
import Contact from "./components/Contact";
import RoleAndSkills from "./components/RoleAndSkills";
export default {
  name: "app",
  data() {
    return {
      activeMenu: "home",
      animateAbout: false,
      animateWork: false,
      animateRAS: false,
      animateContact: false,
    };
  },
  components: {
    LandingPage,
    SideBar,
    About,
    MyWork,
    Contact,
    RoleAndSkills,
  },
  mounted() {
    document
      .getElementById("app")
      .addEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      //var top  = window.pageYOffset || document.documentElement.scrollTop;
      var top = document.getElementById("app").scrollTop;
      /*if(top2==document.getElementById("content1").offsetTop){
        document.getElementById("content2").removeAttribute("style");
      }
      else{
        document.getElementById("content2").setAttribute("style","overflow:hidden");
      }*/
      if (top < document.getElementById("about").offsetTop - 500) {
        this.activeMenu = "home";
      } else if (top < document.getElementById("ras").offsetTop) {
        this.activeMenu = "about";
        this.animateAbout = true;
      } else if (top < document.getElementById("work").offsetTop) {
        this.activeMenu = "ras";
        this.animateRAS = true;
      } else if (top < document.getElementById("contact").offsetTop - 500) {
        this.activeMenu = "work";
        this.animateWork = true;
      } else {
        this.activeMenu = "contact";
        this.animateContact = true;
      }
    },
  },
};
</script>

<style lang="scss">
body {
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
}
#app {
  font-family: "Roboto", "Raleway", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.mainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (min-width: 760px) {
  .parallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
  }
}
.contentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}
.profile-section {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  color: black;
  min-height: 100vh;
  background: white;
  .sec-title {
    color: #262a34;
  }
  .underline {
    border-bottom: 2px solid #262a34;
  }
  &:nth-child(even) {
    background-color: #262a34;
    .sec-title {
      color: #fff;
    }
    .underline {
      border-bottom: 2px solid #fff;
    }
  }
}
.sec-title {
  font-size: 36px;
  padding: 36px 0 28px 0;
  color: #242934;
  margin: 0 auto;
}
/* title animations */
.slide-right {
  //transform: translateY(400px);
  opacity: 0.5;
  position: relative;
  transform: translateX(-800px);
  &.animate {
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.slide-right-later {
  opacity: 0;
  position: relative;
  transform: translateX(-300px);
  &.animate {
    transition-delay: 0.55s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.slide-left {
  //transform: translateY(400px);
  opacity: 0.5;
  transform: translateX(800px);
  &.animate {
    transition-delay: 0.7s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.slide-left-later {
  position: relative;
  transform: translateX(400px);
  &.animate {
    transition-delay: 0.9s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.slide-down {
  //transform: translateY(400px);
  opacity: 0.5;
  position: relative;
  transform: translateY(800px);
  &.animate {
    transition-delay: 0.2s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
.slide-down-later {
  opacity: 0;
  position: relative;
  transform: translateY(300px);
  &.animate {
    transition-delay: 0.55s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    &.animateActive {
      //transform: translateX(0px);
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
@media screen and (max-width: 760px) {
  .profile-section {
    margin-left: 0;
    min-height: 100vh;
    height: auto;

    &:nth-child(even) {
      .sec-title.contact {
        padding-top: 4rem;
      }
    }
  }
  .sec-title {
    padding-top: 45px;
  }
}
</style>
